body {
  background-image: url('yoga.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

Form {
  text-align: center;
  font-size: 25px;
  display: inline-block;
  justify-content:center;
  padding-top: 300px;
  padding-bottom: 0px;
  padding-left: 500px;
  padding-right: 120px;
  text-align: center;
  font-size: 17px;
}

#weight {
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  color: #1B3549;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  display: inline-block;
}

#height {
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  color: #1B3549;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  display: inline-block;
}

#button {
  display: inline-block;
  justify-content: center;
  font-size: 12px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 80px;
  color: white;
  background-color: #1B3549;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 150px;
  height: 50px;
  opacity: .7;
}

#button:hover {background-color: teal;}

#switch {
  display: inline-block;
  justify-content: center;
  font-size: 15px;
  color: #1B3549;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 150px;
  height: 50px;
  opacity: .8;
  margin-left: 80px;
}

#check {
  width: 25px;
  height: 25px;
}